Repository givebloodorg/doesangue-core: changes, and which Codecov flags are due for each by the changed paths.
All: api, tests

codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 5
  round: down
  range: "70...100"

  status:
    project:
      default: off
      api:
        target: 50%
        flags: api
      tests:
        target: 50%
        flags: tests
    patch: yes
    changes: no

flags:
 api:
   paths:
     - app/

 tests:
   paths:
    - tests/

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach, diff, flags, files, footer"
  behavior: default
  require_head: yes
  require_changes: yes

Scrutinizer Auto-Fixes
  app/Providers/RouteServiceProvider.php
Due: api

Scrutinizer Auto-Fixes
  app/Http/Controllers/API/V1/User/CampaignController.php
  app/Http/Controllers/Auth/AuthenticateController.php
Due: api

:memo: remove codecov flas [skip ci]
  codecov.yml
Due: none

:muscle: Add API resource instead of json response
  app/Http/Controllers/API/V1/BloodTypeController.php
  app/Http/Controllers/API/V1/DonorsController.php
  app/Http/Controllers/API/V1/UsersController.php
  app/Http/Resources/User.php
  app/Http/Resources/UserCollection.php
  app/Models/BloodType.php
  app/Models/Donor.php
  app/Models/User.php
  database/factories/DonorFactory.php
  database/factories/UserFactory.php
  database/migrations/2014_10_12_000000_create_users_table.php
  database/migrations/2016_11_25_002808_alter_donors_table.php
  database/migrations/2017_06_09_145503_create_comments_table.php
  routes/api.php
Due: api

:green_heart: Add blood_type_id in Authenticate::register method
  app/Http/Controllers/Auth/AuthenticateController.php
  tests/Feature/AuthTest.php
Due: api, tests

:green_heart: :white_check_mark: Fix codecov report on travis
  .travis.yml
  codecov.yml
Due: none

Scrutinizer Auto-Fixes
  app/Http/Controllers/API/V1/BloodTypeController.php
  app/Http/Controllers/Auth/AuthenticateController.php
  app/Http/Resources/User.php
  app/Models/User.php
Due: api

Scrutinizer Auto-Fixes
  app/Console/Commands/MakeModelCommand.php
  app/Exceptions/Handler.php
  app/Http/Controllers/API/V1/CampaignController.php
  app/Http/Controllers/API/V1/CommentsController.php
  app/Http/Controllers/API/V1/User/CampaignController.php
  app/Providers/RouteServiceProvider.php
Due: api

Scrutinizer Auto-Fixes (#46)
  app/Console/Commands/MakeModelCommand.php
  app/Exceptions/Handler.php
  app/Http/Controllers/API/V1/CampaignController.php
  app/Http/Controllers/API/V1/CommentsController.php
  app/Http/Controllers/API/V1/User/CampaignController.php
  app/Providers/RouteServiceProvider.php
Due: api

:arrow_up: Update laravel and other deps [skip ci]
  composer.json
  composer.lock
Due: none

:arrow_up: :muscle: Add Password
  app/Http/Controllers/Auth/V1/PasswordResetController.php
  composer.lock
  routes/api.php
Due: api

Add contributors list and remove assets files [skip ci]
  .all-contributorsrc
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  CONTRIBUTORS.md
  README-ptBR.md
  README.md
  package-lock.json
  package.json
  public/css/app.css
  public/css/app.css.map
  public/css/bootstrap.min.css
  public/img/logo.jpg
  public/js/app.js
  webpack.mix.js
Due: none

:muscle: Add avatar field in UserResource
  app/Http/Resources/User.php
  app/Models/User.php
  database/migrations/2014_10_12_000000_create_users_table.php
Due: api

:memo: fix badge links and contributors counter [skip ci]
  CONTRIBUTORS.md
  README.md
Due: none

:green_heart: Add codeclimate configuration [skip ci]
  .codeclimate.yml
  README.md
Due: none

:muscle: Preparing to add blood bank module [ski ci]
  app/Http/Controllers/API/V1/BankController.php
  app/Models/Bank.php
  database/migrations/2017_10_26_135915_create_banks_table.php
Due: api

:muscle: Add User country code and default avatar
  app/Models/User.php
  database/migrations/2014_10_12_000000_create_users_table.php
  public/images/avatars/default.png
Due: api

:green_heart: Fix: Controller class not found
  app/Http/Controllers/API/V1/BankController.php
Due: api

:muscle: :arrow_up: fix #38: Finish L5.5 Upgrade
  .env.example
  app/Console/Kernel.php
  app/Exceptions/Handler.php
  app/Http/Kernel.php
  app/Http/Middleware/EncryptCookies.php
  app/Http/Middleware/TrimStrings.php
  app/Http/Middleware/TrustProxies.php
  app/Http/Middleware/VerifyCsrfToken.php
  composer.json
  config/app.php
  config/cache.php
  config/cors.php
  config/database.php
  config/filesystems.php
  config/session.php
  phpunit.xml
  public/.htaccess
  public/index.php
Due: api

:green_heart: :arrow_down: revert mockery version to 0.9
  app/Http/Controllers/Auth/AuthenticateController.php
  composer.json
  composer.lock
  routes/api.php
  tests/Feature/AuthTest.php
Due: api, tests

:muscle: Add github templates and adjust some functions
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  app/Http/Controllers/API/V1/BloodTypeController.php
  app/Http/Controllers/API/V1/CampaignController.php
  app/Http/Controllers/API/V1/User/AccountController.php
  app/Http/Controllers/API/V1/User/DonationController.php
  app/Http/Controllers/API/V1/UsersController.php
  app/Http/Resources/Campaign.php
  app/Http/Resources/CampaignCollection.php
  app/Models/Bank.php
  app/Models/Comment.php
  routes/api.php
Due: api

:memo: Add contributors list [skip ci]
  .all-contributorsrc
  CONTRIBUTORS.md
Due: none

:green_heart: fix: syntax error in Campaign resource
  app/Http/Resources/Campaign.php
Due: api

:green_heart: fix: add => simbol in Campaign resource
  app/Http/Resources/Campaign.php
Due: api

:muscle: fix #47: Add campaign API resources
  app/Http/Controllers/API/V1/CampaignController.php
  app/Http/Resources/Campaign.php
  app/Models/User.php
  routes/api.php
Due: api

Scrutinizer Auto-Fixes
  app/Http/Controllers/API/V1/CampaignController.php
Due: api

Scrutinizer Auto-Fixes (#49)
  app/Http/Controllers/API/V1/CampaignController.php
Due: api

:muscle: Add blood bank column fields
  app/Http/Controllers/Auth/AuthenticateController.php
  app/Models/Bank.php
  database/migrations/2017_10_26_135915_create_banks_table.php
Due: api

:bug: fix a typo in User attributes
  app/Http/Controllers/Auth/AuthenticateController.php
  app/Models/User.php
Due: api

:muscle: Add Uuid support and fix data seeders
  app/Models/Campaign.php
  app/Models/Comment.php
  app/Models/User.php
  composer.json
  composer.lock
  database/factories/CampaignFactory.php
  database/factories/UserFactory.php
  database/migrations/2014_10_12_000000_create_users_table.php
  database/migrations/2016_09_09_205546_create_campaigns_table.php
  database/migrations/2017_06_09_145503_create_comments_table.php
  database/migrations/2017_07_26_182644_create_invites_table.php
  database/seeds/CampaignsSeeder.php
  database/seeds/DatabaseSeeder.php
  database/seeds/DonorsSeeder.php
  database/seeds/UsersSeeder.php
Due: api

:bug: :muscle: disable autoincrement for uuid field
  app/Models/Bank.php
  app/Models/BloodType.php
  app/Models/Campaign.php
  app/Models/Comment.php
  database/factories/BloodTypeFactory.php
  database/migrations/2016_11_21_215019_create_blood_types_table.php
  database/seeds/BloodTypeSeeder.php
Due: api

Scrutinizer Auto-Fixes
  app/Models/BloodType.php
  app/Models/Campaign.php
  app/Models/Comment.php
  app/Models/User.php
Due: api

:muscle: Add space after function in models boot method
  app/Models/BloodType.php
  app/Models/Campaign.php
  app/Models/Comment.php
  app/Models/User.php
Due: api

:muscle: remove codeclimate local configuration [skip ci]
  .codeclimate.yml
Due: none

:memo: fix a minimal typo in BloodType class
  app/Models/BloodType.php
Due: api

:muscle: :white_check_mark: Add banks collection, resource and tests
  app/Http/Controllers/API/V1/BankController.php
  app/Http/Resources/Bank.php
  app/Http/Resources/BanksCollection.php
  app/Models/Bank.php
  database/factories/BankFactory.php
  database/seeds/BanksSeeder.php
  database/seeds/BloodTypeSeeder.php
  database/seeds/DatabaseSeeder.php
  database/seeds/InvitesTableSeeder.php
  routes/api.php
  tests/Feature/BankTest.php
Due: api, tests
